* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #1B1540;
}

.canva {
    background-image: url("../assets/Background.jpg");
}

.container {
    display: grid;
    place-content: center;
    margin-top: 2%;
}


#izquierda-vida{
    border: 0;
    margin: 0;
    padding: 0;

    transform: rotate(270deg);
    position: absolute;
    top: 40%;
    left: -15.5%;

    height: 20vh;
    width: 44.2vw;
}

#derecha-vida{
    border: 0;
    margin: 0;
    padding: 0;


    transform: rotate(270deg);
    position: absolute;
    top: 40%;
    left: 71.5%;

    height: 20vh;
    width: 44.2vw;
}
